<h3 class="timeline-header">
  <%= link_to activity.recipient.name, recipient_path %>
  received a <%= item_class_name(activity.trackable) %>.
</h3>

<div class="timeline-body">
  Medicines Used: <%= activity.trackable.medicine_names %><br/>
  Notes: <%= activity.trackable.description %>
  <br/>
  Reports: There are <%= number_with_delimiter(activity.trackable.treatment_reports_count) %> reports<br/>
  Diseases: <%= activity.trackable.disease_names %>
</div>
<div class="timeline-footer">
  <%= link_to 'Details', details_path, class: 'btn btn-primary btn-xs' %>
  <%= link_to 'Edit', edit_path, class: 'btn btn-warning btn-xs' %>
  <%= link_to 'Destroy',
              destroy_path,
              method: :delete,
              data:   { confirm: 'Are you sure?' },
              class:  'btn btn-danger btn-xs' %>
</div>
