<%= render 'petography/shared/public_activity/petography_vaccination/update',
           activity:       activity,
           recipient_path: pro_users_pet_path(activity.recipient),
           details_path:   send("pro_users_pet_#{item_class_name(activity.trackable)}_path",
                                activity.recipient,
                                activity.trackable),
           edit_path:      send("edit_pro_users_pet_#{item_class_name(activity.trackable)}_path",
                                activity.recipient,
                                activity.trackable),
           destroy_path:   send("pro_users_pet_#{item_class_name(activity.trackable)}_path",
                                activity.recipient,
                                activity.trackable) %>
