<section class="content-header">
  <h1>
    Blank page
    <small>it all starts here</small>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Title</h3>
    </div>
    <div class="box-body">
      <h1>Petography::Users::Home#index</h1>
      <p>Find me in app/views/petography/users/home/index.html.erb</p>
    </div>
    <div class="box-footer">
      Footer
    </div>
  </div>
</section>