<section class="content-header">
  <h1>
    Editing <%= item_class_name(item) %> For <%= pet.label %>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <%= render 'petography/users/shared/treatments/form',
                 url:                         send("users_pet_#{item_class_name(item)}_path", pet, item),
                 pet:                         pet,
                 item:                        item,
                 medicines:                   medicines,
                 locations:                   locations,
                 extra_field_local_variables: extra_field_local_variables
      %>
    </div>
    <div class="box-footer">
      <%= link_to 'Back', :back, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</section>
