<%= form_for(item, url: url, html: { class: 'form-horizontal' }) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this petography_users_item from being
        saved:</h2>
      
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :applied_at, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.datetime_select :applied_at, {}, class: 'select2' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :location_id, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.collection_select :location_id, locations, :id, :label, {}, class: 'select2' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :medicines_used, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <div class="row">
        <div class="col-xs-1">
          Amount
        </div>
        <div class="col-xs-2">
          Amount Type
        </div>
        <div class="col-sm-3">
          Medicine
        </div>
      </div>
      <%= f.nested_fields_for(:treatment_medicines) do |ff| %>
        <div class="row">
          <div class="col-xs-1">
            <%= ff.number_field :amount, class: 'form-control' %>
          </div>
          <div class="col-xs-2">
            <%= ff.select :amount_type, Petography::TreatmentMedicine::AMOUNT_TYPES, {}, class: 'select2' %>
          </div>
          <div class="col-sm-3">
            <%= ff.select :medicine_id, medicines.map { |medicine| [medicine.name, medicine.id] }, {}, class: 'select2' %>
          </div>
          <%= ff.remove_nested_fields_link 'Remove', class: 'btn btn-danger btn-xs' %>
        </div>
      <% end %>
      <%= f.add_nested_fields_link :treatment_medicines, 'Add Medicine', class: 'btn btn-success btn-lg' %>
    </div>
  </div>
  
  <%= render_extra_fields_for_form(item, { item: item, f: f }.merge(extra_field_local_variables)) %>

  <%= f.fields_for :treatment_event do |treatment_event_fields| %>
    <div class="form-group">
      <%= treatment_event_fields.label :schedule, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= treatment_event_fields.schedule_select :schedule, style: :bootstrap, interval: true, count: true, until: true %>
      </div>
    </div>
  <% end %>
  
  <div class="box-footer">
    <%= f.submit class: 'btn btn-success btn-lg pull-right' %>
  </div>
<% end %>
