<section class="content-header">
  <h1>
    <%= item_class_name(item).capitalize %> details
    <small> for <%= pet.label %></small>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <dl class="dl-horizontal">
        <dt>Applied At:</dt>
        <dd><%= l item.applied_at %></dd>
        <dt>Description</dt>
        <dd><%= item.description %></dd>
        <dt>Location</dt>
        <dd><%= item.location.label %></dd>
        <dt>Medicines Used</dt>
        <% item.treatment_medicines.each do |treatment_medicine| %>
          <dd>
            <%= "#{treatment_medicine.amount} #{treatment_medicine.amount_type} #{treatment_medicine.medicine.name}" %>
          </dd>
        <% end %>
        <%= render_extra_fields_for_show(item, { item: item }) %>
      </dl>
    </div>
    <div class="box-footer">
      <%= link_to 'Destroy',
                  send("users_pet_#{item_class_name(item)}_path", pet, item),
                  method: :delete,
                  data:   { confirm: 'Are you sure?' },
                  class:  'btn btn-danger pull-right' %>
      <%= link_to 'Back', :back, class: 'btn btn-primary pull-right mr5' %>
      <%= link_to 'Edit',
                  send("edit_users_pet_#{item_class_name(item)}_path", pet, item),
                  class: 'btn btn-primary pull-right mr5' %>
      <%= link_to "Add A #{item_class_name(item).capitalize}",
                  send("new_users_pet_#{item_class_name(item)}_path", pet),
                  class: 'btn btn-success pull-right mr5' %>
    </div>
  </div>
</section>
