<%= render 'petography/shared/public_activity/petography_cure/create',
           activity:       activity,
           recipient_path: users_pet_path(activity.recipient),
           details_path:   send("users_pet_#{item_class_name(activity.trackable)}_path",
                                activity.recipient,
                                activity.trackable),
           edit_path:      send("edit_users_pet_#{item_class_name(activity.trackable)}_path",
                                activity.recipient,
                                activity.trackable),
           destroy_path:   send("users_pet_#{item_class_name(activity.trackable)}_path",
                                activity.recipient,
                                activity.trackable) %>
