<tbody>
<% pets.each do |pet| %>
  <tr>
    <td><%= link_to pet.name, pro_users_pet_path(pet) %></td>
    <td><%= link_to image_tag(pet.photo_url(:thumb)), pro_users_pet_path(pet) %></td>
    <td><%= l pet.birthdate %></td>
    <td><%= pet.variant_label %></td>
    <td><%= number_with_delimiter pet.weight %></td>
    <td>
      <%= link_to 'Show', pro_users_pet_path(pet), class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_pro_users_pet_path(pet), class: 'btn btn-success' %>
      <%= link_to 'Destroy',
                  pro_users_pet_path(pet),
                  method: :delete,
                  data:   { confirm: 'Are you sure?' },
                  class:  'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</tbody>
