<%= form_for(pet, url: url, html: { class: 'form-horizontal' }) do |f| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this petography_users_pet from being saved:</h2>
      
      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :user, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.collection_select :user_id, users, :id, :fullname, { selected: pet_user.id }, class: 'form-control select2' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Pet Name' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :pet_variant_id, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <div class="col-sm-3 pl0 pull-left">
        <%= select_tag :pet_type_id, options_from_collection_for_select(pet_types, :id, :name, pet_type.id), class: 'form-control pull-left select2' %>
      </div>
      <div class="col-sm-3 pull-left">
        <%= f.collection_select :pet_variant_id, pet_variants, :id, :name, {}, class: 'form-control select2' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :photo, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.file_field :photo, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :birthdate, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.date_field :birthdate, class: 'form-control', placeholder: 'Pet Name' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label 'or Age', class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.number_field :age, class: 'form-control', placeholder: 'Pet Age', min: 0, step: :any %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :weight, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.number_field :weight, class: 'form-control', placeholder: 'Weight in kilos', min: 0, step: :any %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :id_number, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.text_field :id_number, class: 'form-control', placeholder: 'Pets ID Number' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :chip_number, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <%= f.text_field :chip_number, class: 'form-control', placeholder: 'Chip number if pet has any chip' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :former_diseases, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <div class="row">
        <div class="col-xs-1">
          Disease
        </div>
      </div>
      <%= f.nested_fields_for(:former_pet_diseases) do |ff| %>
        <div class="row">
          <div class="col-sm-6">
            <%= ff.select :disease_id, diseases.map { |disease| [disease.name, disease.id] }, {}, class: 'select2' %>
          </div>
          <%= ff.remove_nested_fields_link 'Remove', class: 'btn btn-danger btn-xs' %>
        </div>
      <% end %>
      <%= f.add_nested_fields_link :former_pet_diseases, 'Add Former Disease', class: 'btn btn-success btn-lg' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :former_medicines, class: 'col-sm-2 control-label' %>
    
    <div class="col-sm-10">
      <div class="row">
        <div class="col-xs-1">
          Medicine
        </div>
      </div>
      <%= f.nested_fields_for(:former_pet_medicines) do |ff| %>
        <div class="row">
          <div class="col-sm-6">
            <%= ff.select :medicine_id, medicines.map { |medicine| [medicine.name, medicine.id] }, {}, class: 'select2' %>
          </div>
          <%= ff.remove_nested_fields_link 'Remove', class: 'btn btn-danger btn-xs' %>
        </div>
      <% end %>
      <%= f.add_nested_fields_link :former_pet_medicines, 'Add Former Medicine', class: 'btn btn-success btn-lg' %>
    </div>
  </div>
  
  <div class="box-footer">
    <%= f.submit class: 'btn btn-success btn-lg pull-right' %>
  </div>
<% end %>
