<li class="time-label">
  <span class="bg-red"><%= l treatment.applied_at.to_date %></span>
</li>

<li>
  <i class="fa fa-plus bg-red"></i>
  <div class="timeline-item">
    <span class="time"><i class="fa fa-clock-o"></i> <%= treatment.applied_at.strftime("%T") %></span>
    
    <h3 class="timeline-header"><a href="#"><%= pet.name %></a> received a <%= item_class_name(treatment) %>.</h3>
    
    <div class="timeline-body">
      Medicines Used: <%= treatment.medicine_names %><br/>
      Notes: <%= treatment.description %>
      <% if item_class_name(treatment).eql?('cure') %>
          <br/>
          Reports: There are <%= number_with_delimiter(treatment.treatment_reports_count) %> reports<br/>
          Diseases: <%= treatment.disease_names %>
      <% end %>
    </div>
    <div class="timeline-footer">
      <%= link_to 'Details',
                  send("pro_users_pet_#{item_class_name(treatment)}_path", pet, treatment),
                  class: 'btn btn-primary btn-xs' %>
      <%= link_to 'Edit',
                  send("edit_pro_users_pet_#{item_class_name(treatment)}_path", pet, treatment),
                  class: 'btn btn-warning btn-xs' %>
      <%= link_to 'Destroy',
                  send("pro_users_pet_#{item_class_name(treatment)}_path", pet, treatment),
                  method: :delete,
                  data:   { confirm: 'Are you sure?' },
                  class:  'btn btn-danger btn-xs' %>
    </div>
  </div>
</li>
