<section class="content-header">
  <h1>
    My Pets
    <small>Lists all your pets</small>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Birthdate</th>
          <th>Variant</th>
          <th>Weight (kilos)</th>
          <th></th>
        </tr>
        </thead>
        <%= render 'petography/pro_users/pets/shared/pet_table', pets: @pets %>
      </table>
    </div>
    <div class="box-footer clearfix text-center">
      <%= paginate @pets %>
    </div>
  </div>
</section>
