<section class="content">
  <%= render 'petography/pro_users/pets/show/pet_info_card', pet: @pet %>
  <%= render 'petography/pro_users/pets/show/calendar', pet: @pet %>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <ul class="timeline">
        <% @activities.each do |activity| %>
          <%= render_activity(activity,
                              root:   'petography/pro_users/public_activity',
                              layout: 'petography/shared/public_activity') %>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<div class="text-center">
  <%= paginate @activities %>
</div>

<script type="text/javascript">
  window.pet_id = <%= @pet.id %>;
</script>
