<dt>Reports</dt>
<% item.reports.each do |report| %>
    <dd><%= link_to(report.file_identifier, report.file.url, target: :blank) %></dd>
<% end %>
<dt>Diseases</dt>
<% item.diseases.each do |disease| %>
    <dd><%= disease.name %></dd>
<% end %>
