<section class="content-header">
  <h1>
    Editing <%= @pet.name %>
    <small><%= @pet.variant.name %> - <%= @pet.variant.pet_type.name %></small>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <%= render 'form',
                 url:          users_pet_path(@pet),
                 pet:          @pet,
                 pet_types:    @pet_types,
                 pet_variants: @pet_variants,
                 pet_type:     @pet_type,
                 diseases:     @diseases,
                 medicines:    @medicines %>
    </div>
    <div class="box-footer">
      Added at <%= l @pet.created_at %>
      <%= link_to 'Pet List', users_pets_path, class: 'btn btn-primary pull-right' %>
      <%= link_to 'Back', :back, class: 'btn btn-primary pull-right mr5' %>
    </div>
  </div>
</section>
