<section class="content-header">
  <h1>
    My Pets
    <small>Lists all your pets</small>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Birthdate</th>
          <th>Variant</th>
          <th>Weight (kilos)</th>
          <th></th>
        </tr>
        </thead>
        
        <tbody>
        <% @pets.each do |pet| %>
            <tr>
              <td><%= link_to pet.name, users_pet_path(pet) %></td>
              <td><%= link_to image_tag(pet.photo_url(:thumb)), users_pet_path(pet) %></td>
              <td><%= l pet.birthdate %></td>
              <td><%= pet.variant_label %></td>
              <td><%= number_with_delimiter pet.weight %></td>
              <td>
                <%= link_to 'Show', users_pet_path(pet), class: 'btn btn-info' %>
                <%= link_to 'Edit', edit_users_pet_path(pet), class: 'btn btn-success' %>
                <%= link_to 'Destroy',
                            users_pet_path(pet),
                            method: :delete,
                            data:   { confirm: 'Are you sure?' },
                            class:  'btn btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="box-footer clearfix text-center">
      <%= paginate @pets %>
    </div>
  </div>
</section>
