<section class="content-header">
  <h1>
    Adding new Pet
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <%= render 'form',
                 url:          users_pets_path,
                 pet:          @pet,
                 pet_types:    @pet_types,
                 pet_variants: @pet_variants,
                 pet_type:     @pet_type,
                 diseases:     @diseases,
                 medicines:    @medicines %>
    </div>
    <div class="box-footer">
      <%= link_to 'Back', :back, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</section>
