<section class="content-header">
  <h1>
    Search Pets
  </h1>
</section>

<section class="content">
  <div class="box box-default">
    <div class="box-body">
      <%= search_form_for(@q, url: pro_users_pets_search_path, html: { class: 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :name, class: 'col-sm-2 control-label' %>
          
          <div class="col-sm-10">
            <%= f.search_field :name_cont, class: 'form-control input-sm', placeholder: 'Pet Name' %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :id_number, class: 'col-sm-2 control-label' %>
          
          <div class="col-sm-10">
            <%= f.search_field :id_number_cont, class: 'form-control input-sm', placeholder: 'Id Number' %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :chip_number, class: 'col-sm-2 control-label' %>
          
          <div class="col-sm-10">
            <%= f.search_field :chip_number, class: 'form-control input-sm', placeholder: 'Chip Number' %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :pet_variant_id, class: 'col-sm-2 control-label' %>
          
          <div class="col-sm-10">
            <div class="col-sm-3 pl0 pull-left">
              <%= f.collection_select :variant_pet_type_id_eq, @pet_types, :id, :name, { include_blank: true }, class: 'form-control pull-left select2 input-sm' %>
            </div>
            <div class="col-sm-3 pull-left">
              <%= f.collection_select :pet_variant_id_eq, @pet_variants, :id, :name, { include_blank: true }, class: 'form-control select2 input-sm' %>
            </div>
            
            <div class="col-sm-4 pull-right">
              <%= f.submit class: 'btn btn-success btn-lg pull-right' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="box">
    <div class="box-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= sort_link(@q, :name) %></th>
          <th>Photo</th>
          <th><%= sort_link(@q, :birthdate) %></th>
          <th>Variant</th>
          <th><%= sort_link(@q, :pet_weights_weight, 'Weight (kilos)') %></th>
          <th></th>
        </tr>
        </thead>
        <%= render 'petography/pro_users/pets/shared/pet_table', pets: @pets %>
      </table>
    </div>
    <div class="box-footer clearfix text-center">
      <%= paginate @pets %>
    </div>
  </div>
</section>
