<li class="time-label">
  <span class="bg-red"><%= l activity.created_at.to_date %></span>
</li>

<li>
  <i class="fa fa-heart-o bg-red"></i>
  <div class="timeline-item">
    <span class="time"><i class="fa fa-clock-o"></i> <%= activity.created_at.strftime("%T") %></span>
    <%= yield %>
  </div>
</li>
