<header class="main-header">
  <%= link_to users_pets_path, class: 'logo' do %>
      <span class="logo-mini"><b>Pt</b>grphy</span>
      <span class="logo-lg"><b>Pet</b>ography</span>
  <% end %>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>

          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>

        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag user.photo.url(:thumb), class: 'user-image' %>
            <span class="hidden-xs"><%= user.fullname %></span>
          </a>

          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag user.photo.url(:big), class: 'img-circle' %>
              <p><%= user.fullname %></p>
            </li>

            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Pets</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Favorites</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
            </li>

            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <%= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-default btn-flat', method: :delete %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
