<div class="form-group">
  <%= f.label :disease, class: 'col-sm-2 control-label' %>
  
  <div class="col-sm-10">
    <div class="row">
      <div class="col-xs-1">
        Name
      </div>
    </div>
    <%= f.nested_fields_for(:disease_treatments) do |ff| %>
        <div class="row">
          <div class="col-sm-3">
            <%= ff.select :disease_id, diseases.map { |disease| [disease.name, disease.id] }, {}, class: 'select2' %>
          </div>
          <%= ff.remove_nested_fields_link 'Remove', class: 'btn btn-danger btn-xs' %>
        </div>
    <% end %>
    <%= f.add_nested_fields_link :disease_treatments, 'Add Disease', class: 'btn btn-success btn-lg' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :reports, class: 'col-sm-2 control-label' %>
  
  <div class="col-sm-10">
    <div class="row">
      <div class="col-xs-6">
        Report Date
      </div>
      <div class="col-xs-4">
        File
      </div>
    </div>
    <%= f.nested_fields_for(:reports) do |ff| %>
        <div class="row">
          <div class="col-xs-6">
            <%= ff.datetime_select :report_date, {}, class: 'select2' %>
          </div>
          <div class="col-xs-4">
            <%= ff.file_field :file %>
            <% if ff.object.file.present? %>
                Download: <%= link_to(ff.object.file_identifier, ff.object.file.url, target: :blank) %>
            <% end %>
          </div>
          <%= ff.remove_nested_fields_link 'Remove', class: 'btn btn-danger btn-xs' %>
        </div>
    <% end %>
    <%= f.add_nested_fields_link :reports, 'Add Report', class: 'btn btn-success btn-lg' %>
  </div>
</div>
