<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <b>Pet</b>ography
        <% end %>
      </div>
      
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Feature 1', '#' %></li>
          <li><%= link_to 'Feature 2', '#' %></li>
          <li><%= link_to 'Feature 3', '#' %></li>
        </ul>
      </div>
  
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown tasks-menu">
            <%= link_to new_user_registration_path do %>
              <i class="plus-square"></i> Sign Up
            <% end %>
          </li>
          <li class="dropdown tasks-menu">
            <%= link_to new_user_session_path do %>
              <i class="plus-square"></i> Sign In
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
