<%= render 'petography/pro_users/shared/treatments/new',
           pet:                         @pet,
           item:                        @vaccination,
           medicines:                   @medicines,
           locations:                   @locations,
           extra_field_local_variables: @extra_field_local_variables
%>
