<h3 class="timeline-header"><%= link_to activity.recipient.name, recipient_path %>'s profile has been updated.</h3>

<div class="timeline-body">
  <%= activity.recipient.user.fullname %> set <%= link_to activity.recipient.name, recipient_path %>
  used <%= activity.trackable.medicine.name %> in the past.
</div>
