<div class="container">
  <section class="content-header">
    <h1>
      Blank page
      <small>it all starts here</small>
    </h1>
  </section>
  
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Title</h3>
      </div>
      <div class="box-body">
        <h1>Pages#home</h1>
        <p>Find me in app/views/pages/home.html.erb</p>
      </div>
      <div class="box-footer">
        Footer
      </div>
    </div>
  </section>
</div>
