<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_user.photo.url(:middle), class: 'img-circle' %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.fullname %></p>
      </div>
    </div>
    
    <ul class="sidebar-menu">
      <li class="header">Ana Menü</li>
      <li class="treeview active">
        <a href="#">
          <i class="fa fa-paw"></i>
          <span>My Pets</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <%= render 'petography/pro_users/shared/pet_crud_links' %>
          <% pets.each do |pet| %>
            <li>
              <%= link_to pro_users_pet_path(pet) do %>
                <i class="flaticon-<%= pet.variant.pet_type.code %>"></i> <%= pet.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </section>
</aside>
