<li>
  <%= link_to pro_users_pets_search_path do %>
    <i class="fa fa-list"></i> Search Pets
  <% end %>
</li>
<li>
  <%= link_to pro_users_pets_path do %>
      <i class="fa fa-list"></i> List My Pets
  <% end %>
</li>
<li>
  <%= link_to new_pro_users_pet_path do %>
      <i class="fa fa-list"></i> Add A Pet
  <% end %>
</li>
