/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require theme/skin-purple-light.min
 *= require theme/AdminLTE.min
 *= require flaticons/flaticon
 *= require select2/select2
 *= require select2/select2-bootstrap
 *= require fullcalendar/fullcalendar.min
 *= require_self
*/

.mr5 {
    margin-right: 5px;
}

.mr15 {
    margin-right: 15px;
}

.pl0 {
    padding-left: 0px;
}
