<section class="content-header">
  <h1>
    Editing Weight Entry For <%= @pet.label %>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <%= render 'form', url: pro_users_pet_weight_path(@pet, @weight), weight: @weight %>
    </div>
    <div class="box-footer">
      <%= link_to 'Back', :back, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</section>
