<div class="col-md-6">
  <div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-yellow">
      <div class="widget-user-image">
        <%= image_tag pet.photo.url(:middle), class: 'img-circle' %>
      </div>
      <h3 class="widget-user-username"><%= pet.name %></h3>
      <h5 class="widget-user-desc"><%= pet.variant.label %></h5>
    </div>
    <div class="box-body">
      <dl class="dl-horizontal">
        <dt>Variant</dt>
        <dd><%= pet.variant_label %></dd>
        <dt>Weight</dt>
        <dd><%= pet.weight %> kilos - <%= link_to 'Display Weight Changes', users_pet_weights_path(pet) %></dd>
        <dt>Id Number</dt>
        <dd><%= pet.id_number %></dd>
        <dt>Chip Number</dt>
        <dd><%= pet.chip_number %></dd>
        <dt>Former Diseases</dt>
        <dd><%= number_with_delimiter(pet.former_pet_diseases_count) %> former diseases</dd>
        <dd><%= pet.former_diseases_names %></dd>
        <dt>Former Medicines</dt>
        <dd><%= number_with_delimiter(pet.former_pet_medicines_count) %> former medicines</dd>
        <dd><%= pet.former_medicines_names %></dd>
        <% if pet.has_next_treatment? %>
          <dt>Next Treatment</dt>
          <dd><%= pet.next_treatment_description %> at <%= l(pet.next_treatment_date, format: :short) %></dd>
        <% end %>
        <dt>Added At</dt>
        <dd><%= l(pet.created_at, format: :short) %></dd>
      </dl>
    </div>
    <div class="box-footer">
      <%= link_to 'Back', users_pets_path, class: 'btn btn-primary pull-right' %>
      <%= link_to 'Edit', edit_users_pet_path(pet), class: 'btn btn-primary pull-right mr5' %>
      <%= link_to 'Add A Cure', new_users_pet_cure_path(pet), class: 'btn btn-primary pull-right mr5' %>
      <%= link_to 'Add A Vaccination', new_users_pet_vaccination_path(pet), class: 'btn btn-primary pull-right mr5' %>
      <%= link_to 'Log Weight', new_users_pet_weight_path(pet), class: 'btn btn-primary pull-right mr5' %>
      <%= link_to 'Details', users_pet_details_path(pet), class: 'btn btn-primary pull-right mr5' %>
    </div>
  </div>
</div>
