<h3 class="timeline-header"><%= link_to activity.recipient.name, recipient_path %> has a new weight.</h3>

<div class="timeline-body">
  <%= link_to activity.recipient.name, recipient_path %> is now <%= number_with_delimiter activity.trackable.weight %>
  kilos.
</div>
