<%= form_for(weight, url: url, html: { class: 'form-horizontal' }) do |f| %>
    <% if weight.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(weight.errors.count, "error") %> prohibited this weight from being saved:</h2>
          
          <ul>
            <% weight.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    
    <div class="form-group">
      <%= f.label :weight, class: 'col-sm-2 control-label' %>
      
      <div class="col-sm-10">
        <%= f.number_field :weight, class: 'form-control', placeholder: 'Weight in kilos', min: 0, step: :any %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :logged_at, class: 'col-sm-2 control-label' %>
      
      <div class="col-sm-10">
        <%= f.datetime_select :logged_at, {}, class: 'select2' %>
      </div>
    </div>
    
    <div class="box-footer">
      <%= f.submit class: 'btn btn-success btn-lg pull-right' %>
    </div>
<% end %>
