<section class="content-header">
  <h1>
    Weight Log
    <small>for <%= @pet.label %></small>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Weight</th>
          <th>Logged At</th>
          <th></th>
        </tr>
        </thead>
        
        <tbody>
        <% @weights.each do |weight| %>
            <tr>
              <td><%= number_with_delimiter weight.weight %></td>
              <td><%= l weight.logged_at %></td>
              <td>
                <%= link_to 'Edit', edit_users_pet_weight_path(@pet, weight), class: 'btn btn-success' %>
                <%= link_to 'Destroy',
                            users_pet_weight_path(@pet, weight),
                            method: :delete,
                            data:   { confirm: 'Are you sure?' },
                            class:  'btn btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="box-footer">
      <%= link_to 'Back', :back, class: 'btn btn-primary pull-right mr5' %>
      <%= link_to 'Log a Weight', new_users_pet_weight_path(@pet), class: 'btn btn-success pull-right mr5' %>
    </div>
  </div>
</section>
