<li>
  <%= link_to users_pets_path do %>
      <i class="fa fa-list"></i> List My Pets
  <% end %>
</li>
<li>
  <%= link_to new_users_pet_path do %>
      <i class="fa fa-list"></i> Add A Pet
  <% end %>
</li>