<!DOCTYPE html>
<html>
<head>
  <title>Petography</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition layout-top-nav skin-purple-light <%= "#{asset_controller_name}_#{action_name}" %>" data-controller="<%= asset_controller_name %>" data-action="<%= action_name %>">
<div class="wrapper">
  <%= render 'shared/header' %>

  <div class="content-wrapper">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</div>
</body>
</html>
