<!DOCTYPE html>
<html>
<head>
  <title>Petography</title>
  <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'devise', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition login-page <%= "#{controller_name}_#{action_name}" %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<%= yield %>

</body>
</html>
